# Python cache files
__pycache__
*.pyc
.ruff_cache
.mypy_cache
.pytest_cache

# Logs
*.log
!phout*.log

# Testing data
db.sqlite
postgres-data
*.prof
!docs/speedscope/*.prof

# Python virtual environment
.venv

# Sensitive data
.env

# Dev environment
.vscode

# Temporary ignore ansible playbooks - WIP
ansible
